asgiref==3.7.2
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
html5lib==1.1
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
networkx==3.2.1
numpy==1.26.4
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.36
sqlparse==0.4.4
typing_extensions==4.12.2
urllib3==2.2.0
webencodings==0.5.1
Werkzeug==3.1.2
