/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.simple-contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.contact-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.contact-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.contact-image-container {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  background-size: cover;
  background-position: center;
  border-radius: 50%; /* Makes the image circular */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.contact-name {
  font-size: 1.5em;
  color: #444;
  margin: 10px 0;
}

.email-link {
  font-size: 1.2em;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.email-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
